@model List<UserProfile>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Job Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FullName</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.EmailAddress</td>
                    <td>@user.JobTitle</td>
                </tr>
            }
        </tbody>
    </table>
</div>